.dialogs {

}

.dialogsWrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.dialogsList {
  max-width: 400px;
  min-width: 400px;
  width: 400px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  max-height: 100vh;
  overflow-y: scroll;
}

.dialogsListHeading {
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  position: relative;
}

.dialogsListHeading:before {
  content: "";
  height: 3px;
  width: 8px;
  background-color: #2d5be3;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.dialogsListHeading:after {
  content: "";
  height: 3px;
  width: 18px;
  background-color: #2d5be3;
  border-radius: 4px;
  position: absolute;
  left: 10px;
  bottom: 0;
}

.dialogsFilter {
  margin-bottom: 20px;
  display: flex;
  gap: 5px;
}

.dialogsFilterBtn {
  font-size: 13px;
  padding: 5px 13px;
  font-weight: 500;
  color: #646464;
  border-radius: 4px;
  border: 1px solid #e5e5e5;
  background-color: transparent;
  cursor: pointer;
  transition: all .3s ease 0s;
}

.dialogsFilterBtn:hover,
.dialogsFilterBtn.active {
  border-color: #34b7f1;
  background-color: #34b7f1;
  color: #fff;
}

.membersList {
  display: flex;
  flex-direction: column;
}

.dialogsMsgs {
  width: 100%;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 30px;
}
.dialogsMsgMy {

}
.dialogsMsgYrs {

}